h1, h2 {
  text-align: center;
}

li {
  line-height: 1.5em;
  padding: 5px;
}

.alert {
  color: red;
}

.jumbotron {
  background-image: url("../img/table.jpg");
}

.jumbotron, .btn{
  display: block;
  margin: 0 auto;
}

#resultsContainer {
  display: none;
}

#heading{
  color: white;
}
